
.login{
    height: 100vh;
    position: relative;
    // background: url('https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg');
    background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573039819505&di=1ae5948a8733a38c4a18c16ec81f5c38&imgtype=0&src=http%3A%2F%2Fimg009.hc360.cn%2Fm8%2FM08%2FCE%2F01%2FwKhQpVcrEJ6EenDzAAAAAO6IBcU986.jpg");
    background-repeat:no-repeat;
    background-size:100% auto ;
    .loginCard{
        width:400px;
        position: absolute;
        right:30vh;
        top:30vh;
    }
}