
.login{
    
    height: 100vh;
    position: relative;
    // background: url('https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg');
    background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1573056682593&di=9f43c7a00b8a3ff0ec2086b62779b8f4&imgtype=0&src=http%3A%2F%2Fimg.mp.sohu.com%2Fupload%2F20170809%2Fa9745933456e447b88c58aaff9ee1bec.png");
    background-repeat:no-repeat;
    background-size:100% auto ;
    .loginCard{
        margin:120px 0 0 80px;
        border-radius: 5%;
        width:400px;
        position: absolute;
        
    }
}